body {
    background: #eee;
}

form{
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 4px;
    border: 2px solid #ccc;
}

input:focus {
    outline: none;
}

.success {
  border: 2px solid green !important;
}

.error {
  border: 2px solid red !important;
}
